
        .card1 {
            border-radius: 8px;
        }

        .card1:hover .card1-img-overlay {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }

        .card1-img-top:hover {
            background-color: rgb(218, 191, 84);
        }

        .card1-img-overlay {
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            transition: opacity 0.3s ease-in-out;
        }
