.navContainer {
  padding: 0;
}


.container-fluid{
  margin-top: -10px;
  margin-bottom: 20px;
}

.navbar-nav {
  font-size: 1.1rem;
}

.navbar-nav:hover{
  font-size: 1.2rem;
}






.collapse{
  display: flex;
  justify-content:space-between;

}
.navContainerMov {
  display: flex;
  justify-content: center;
}

.btnNav {
  color: rgb(64, 49, 39);
  background-color: rgba(252, 249, 248, 0.2);
}

.navBar1 {
  opacity: 0.8;

}

@media (max-width: 1024.98px) {
  .navbar-toggler {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    background-color:rgba(217, 214, 214, 0.3);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(64, 49, 39);
    font-weight: bold;
    margin-bottom: 30px;
    opacity: 0.8;
  }
  
  .navbar-collapse {
    display: none;
  }
  
  .navbar-toggler[aria-expanded="true"] + .navbar-collapse {
    display: block;
  }
}
